.main-header {
  display: none;
}

.sidebar {
  left: 0;
  width: auto;
  transition: 0.4s;
}

.sidebar a {
  font-size: 1.6rem;
}

.toggle-night i {
  font-size: 2.8em;
}

main {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.home__container {
  width: 80%;
  min-height: 920px;
  margin: 0;
  margin-top: 40px;
}

.home {
  max-width: 1325px;
  min-height: 770px;
}

.home h1 {
  font-size: 5rem;
}

.home img {
  max-width: 500px;
}

.btn-container {
  display: flex;
  justify-content: start;
  max-width: 500px;
}

.btn-container button {
  width: 155px;
  height: 50px;
}

.aboutme__container {
  width: 80%;
}

.aboutme {
  display: block;
}

.aboutme h2 {
  max-width: 500px;
  font-size: 5rem;
  text-align: center;
}

.biography-container {
  display: flex;
  align-items: center;
}

.biography-container img {
  max-width: 50%;
}

.sub-title {
  max-width: 50%;
  font-size: 2rem;
}
