.iframe-container {
  display: flex;
  align-items: center;
}

.main-header {
  display: none;
}

.sidebar {
  left: 0;
  width: auto;
  transition: 0.4s;
}

.sidebar a {
  font-size: 1.6rem;
}

.toggle-night i {
  font-size: 2.8em;
}

main {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.home__container {
  width: 80%;
  min-height: 920px;
  margin: 0;
  margin-top: 40px;
}

.home {
  max-width: 1325px;
  min-height: 770px;
}

.home h1 {
  font-size: 4rem;
}

.home img {
  max-width: 500px;
}

.btn-container {
  display: flex;
  justify-content: center;
  max-width: 500px;
  margin: 0 auto;
}

.project-btn {
  width: 155px;
  height: 50px;
}

.aboutme__container {
  width: 80%;
}

.aboutme {
  display: flex;
}

.aboutme h2 {
  max-width: 500px;
  font-size: 5rem;
  text-align: center;
}
.invisible-bliography {
  display: block;
}
.biography-container {
  max-width: 95%;
  display: flex;
  align-items: center;
  box-shadow: -8px 6px 1px #dbdbdb, -8px -1px 1px #dbdbdb, 1px 6px 1px #dbdbdb,
    1px -1px 1px #dbdbdb;
}

.biography-container img {
  max-width: 50%;
}

.sub-title {
  max-width: 50%;
  font-size: 2.3rem;
}

.proyects-container {
  width: 80%;
  margin: 0;
}

.proyects-container h2 {
  font-size: 4rem;
}

.proyect-card {
  width: 100%;
}

.proyect-card__contain p {
  padding: 0 30px;
}

.proyect-card h2 {
  font-size: 2.5rem;
}

footer {
  padding-left: 130px;
}

.form input {
  width: 350px;
  height: 35px;
}

textarea {
  width: 400px;
  height: 180px;
}
